/* Container to hold both the map and the house list */
.map-list-container {
  display: flex;
  width: 100%;
  height: 100%;
}

/* Styling for the house list (left side) */
.list-container {
  width: 30%; /* Adjust this width as needed */
  height: 900px;
  padding: 10px;
  overflow-y: auto;
  border-right: 1px solid #ddd; /* Optional: separates the list and map */
}

/* Styling for the map (right side) */
.map-container {
  height: 600px;
  width: 1000px; 
  position: relative;
}

