.map-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 500px; /* You can adjust this height */
    width: 1000px;
    margin: 0 auto; /* Center horizontally */
  }
  